$secondary-color: #987147;

@mixin boxSize($width, $height) {
  width: #{$width};
  height: #{$height};
}

@mixin position($display, $top: 0, $left: 0) {
  position: #{$display};
  top: #{$top};
  left: #{$left};
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Khula", sans-serif;
}

svg {
  fill: #fff;
  stroke: #fff;
}

.svg-vault,
svg {
  width: 0;
  height: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100vw;
  background-color: #000;
  height: 3.2rem;
  padding: 5px;
  overflow: hidden;

  > div {
    animation: banner 10s infinite;
  }

  a {
    color: #fff;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  z-index: 1;
  color: #fff;

  .outer-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 2rem 0 2rem;
    height: 5.5rem;

    .nav-toggle {
      height: 1.5rem;
      width: 2rem;
    }

    .site-title {
      text-transform: uppercase;
      padding-top: 1rem;
    }

    .shopping-bag {
      height: 5.5rem;
      width: 2rem;
    }

    .search-container {
      display: none;
    }
  }

  .main-nav {
    position: absolute;
    top: 0;
    left: -80vw;
    width: 80vw;
    height: 100vh;
    background-color: #000;
    transition: left 0.5s ease-in-out;
    z-index: 1;
  }

  .show-nav {
    left: 0;
  }

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.24vh;

    .close {
      position: relative;
      padding: 0 0.9rem 0.9rem 1rem;
      margin: 1rem 0 1rem 1rem;
    }

    .line {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.9rem;
      height: 0.3rem;
      border-radius: 25rem;
      background-color: white;
    }

    .line:first-of-type {
      transform: rotate(45deg);
    }

    .line:last-of-type {
      transform: rotate(-45deg);
    }
  }

  .nav-container {
    position: relative;
    display: flex;

    input {
      display: none;
    }

    label {
      transition: width 0.5s ease-in-out;
      @include position(relative);
      height: 10.8vh;
      overflow: hidden;
      /* background-size: contain; */
      background-position: center;
    }

    label:first-of-type {
      background-image: url("./imgs/Nav-Menswear-800x200.jpg");
    }

    label:last-of-type {
      background-image: url("./imgs/Nav-Womenswear-800x200.jpg");
    }

    label > .label-font {
      position: absolute;
      bottom: 0;
      left: 1vw;
    }

    .womens-nav-img,
    .mens-nav-img {
      @include boxSize(300px, 100%);
      transition: margin-left 0.5s ease-in-out;
    }

    .womens-nav-img {
      margin-left: -10rem;
    }
    .mens-nav-img {
      margin-left: -5rem;
    }

    input:checked + label {
      width: 66.66%;
    }

    input:not(:checked) + label {
      width: 33.33%;
    }

    .womens-nav:checked + label > img {
      margin-left: -50px;
    }

    .mens-nav:not(:checked) + label > img {
      margin-left: -10rem;
    }

    input:checked + label > .label-font {
      font-weight: 800;
    }

    .nav-body {
      /*Top set to 12vh as thats the height of our radio images  */
      position: absolute;
      top: 11vh;
      left: 0;
      width: 100%;
      height: calc(100vh - (10.8vh + 8.24vh));
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 0 1.5rem;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #fff;
        display: block; /*display block to force it to be clickable across how row.*/
        width: 100%;
      }

      ul {
        list-style: none;
      }

      svg:not(.home) {
        position: absolute;
        top: 2.3rem;
        right: 0;
        width: 18px;
        height: 10px;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      div > ul > li {
        position: relative;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
        padding: 1rem 0;
      }

      li > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }

      li:focus-within > ul {
        max-height: 800px;
        overflow: visible;
      }

      li:focus-within > svg {
        transition: transform 0.5s ease-in-out;
        transform: rotate(180deg);
      }
    }

    .womens-nav-body,
    .mens-nav-body {
      position: absolute;
      top: 0;
      width: 90%;
      transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    .womens-nav-body {
      right: -90%;
    }

    .mens-nav-body {
      left: -90%;
    }

    .womens-nav:checked ~ .nav-body > .womens-nav-body {
      top: 0;
      right: 5%;
    }

    .mens-nav:checked ~ .nav-body > .mens-nav-body {
      top: 0;
      left: 5%;
    }

    .womens-nav:checked ~ .nav-body > .womens-nav-body > ul {
      display: block;
    }

    .womens-nav:checked ~ .nav-body > .mens-nav-body > ul {
      overflow: hidden;
    }

    .womens-nav:not(:checked) ~ .nav-body > .womens-nav-body > ul {
      overflow: hidden;
    }
  }

  .nav-header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;
    max-width: 15rem;

    > svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

nav.scroll {
  background-color: #000;
}

picture img {
  width: 100%;
  height: auto;
}

main {
  .landing {
    background-image: url("https://images.hugoboss.com/is/image/hugobossdm/2022-05-12_Headteaser10?%24large%24&amp;fmt=png-alpha&amp;align=0,-1&amp;fit=crop,1&amp;ts=1656059297397&amp;wid=2048&amp;hei=693");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 8rem;
    height: 46rem;

    > picture {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .container {
      margin: 1.5rem auto 0 auto;
      width: 90%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .search-container {
      width: 100%;
      position: relative;

      .search-icon {
        position: absolute;
        top: 1.3rem;
        right: 1.2rem;
        stroke: #fff;
        width: 2rem;
        height: 2rem;
      }
    }

    input[type="search"] {
      background-color: #ffffff1a;
      opacity: 0.9;
      border: 1px solid white;
      width: 100%;
      height: 4.8rem;
      padding: 2rem 1.5rem;
      color: #fff;
    }

    .sale-promo {
      text-align: center;
      color: #fff;
      margin-top: 0.6rem;

      h1 {
        padding: 0;
        margin: 2rem 0 0 0;
        text-transform: uppercase;
        font-size: 4.3rem;
        line-height: 2rem;
        font-weight: 800;
      }

      p {
        font-weight: 800;
        margin: 0.5rem 0 2rem 0;
      }
    }
  }

  .sale-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > button {
      margin-top: 1rem;
    }

    button {
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
      padding: 0.8rem 2rem;
      width: fit-content;
      text-transform: uppercase;
      border: none;
    }
  }

  .welcome {
    position: relative;
    top: 2rem;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60rem;

    > picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      source,
      img {
        width: 100%;
        height: 100%;
      }
    }

    > div {
      margin-top: 1rem;
      text-align: center;
    }

    h2 {
      font-size: 4.2rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    .welcome-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 1.5rem;
    }

    .welcome-buttons button {
      font-size: 1.6rem;
      font-weight: 600;
      padding: 1rem 0.7rem 0.75rem 0.75rem;
      margin: 0 1.5rem;
      text-transform: uppercase;
      border: none;
    }
  }

  .about-section {
    position: relative;
    top: 2rem;
    left: 0;
    background-color: #eee;

    .header-container {
      padding: 2rem;
      text-transform: uppercase;
      line-height: 3rem;

      h2 {
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .about-container {
      width: 100%;
      margin-top: 3rem;
      font-weight: 100;
      background-color: #fff;
      padding: 2.5rem 5rem;

      a {
        color: #000;
        font-weight: 700;
      }
    }
  }

  .offer-container {
    background-color: #eee;
    padding-top: 2rem;
    text-align: center;
    margin-top: 2rem;

    img {
      width: 100%;
    }

    div {
      background-color: #fff;
    }

    h3 {
      font-weight: 800;
      font-size: 2.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    button {
      background-color: #000;
      padding: 1.5rem 0;
      width: 80%;
      border: none;
      color: #eee;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #f6f6f6;

  input {
    display: none;
  }

  ul li {
    color: #000;
  }

  nav {
    padding: 2rem 1rem;
    transition: background-color 0.5s ease-in-out;

    > ul > li {
      padding: 1rem 0;
      border-bottom: 1px solid black;
      list-style: none;
      font-weight: 600;
      text-transform: uppercase;

      > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        li > div {
          padding: 3rem 3rem 1rem 3rem;

          .title {
            color: #666;
            font-weight: 100;
            margin-bottom: 5rem;
          }

          p svg {
            width: 16px;
            height: 16px;
            fill: #000;
          }
        }
      }

      label {
        display: inline-block;
        width: 100%;
        position: relative;

        > svg {
          position: absolute;
          top: 0;
          right: 0;
          width: 14px;
          height: 14px;
          stroke: #000;
          fill: #000;
          stroke-width: 1px;
          transform: rotate(90deg);
          transition: transform 0.5s ease-in-out;
        }
      }

      input:checked ~ ul {
        max-height: 500px;
      }

      input:checked + label > svg {
        transform: rotate(270deg);
      }
    }

    .contact {
      .contact-group {
        padding: 1rem 3rem;
        font-weight: 100;
      }
    }

    .services {
      li {
        padding: 1rem 3rem;
        font-weight: 100;

        svg {
          width: 14px;
          height: 14px;
          stroke: #000;
          fill: #000;
          stroke-width: 1px;
        }
      }
    }

    .company {
      li {
        padding: 1rem 3rem;
        font-weight: 100;

        svg {
          width: 14px;
          height: 14px;
          stroke: #000;
          fill: #000;
          stroke-width: 1px;
        }
      }
    }
  }

  .socials-container {
    text-align: center;

    .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .icon {
      background-color: black;
      width: 24px;
      height: 24px;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: 16px;
      height: 16px;
      stroke: #fff;
    }
  }

  .app-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .apple-app,
  .google-app {
    width: 12rem;
    height: 4rem;
    background-image: url("./imgs/appstore-icons.png");
    background-size: cover;
    margin: 1rem 1.5rem 0 0;
  }

  .apple-app {
    background-position: 0 40px;
  }

  .google-app {
    background-position: 0 -5px;
  }

  .location-nav {
    text-align: center;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  .smallprint-container {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: 700;
    padding-top: 2rem;
  }

  .small-print {
    background-color: #f0f0f0;
    text-align: center;
    padding: 3rem 0;
  }
}

.location-container {
  display: none;
}

@keyframes banner {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-27px);
  }

  90% {
    transform: translateY(-27px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: "460px") {
  main {
    .sale-buttons {
      flex-direction: row;
      justify-content: center;

      button {
        margin: 0 1.5rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 512px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    font-size: 1.3rem;

    .img-container {
      margin-right: 1.5rem;
      min-width: 50%;
      width: 50%;

      picture img,
      picture source {
        width: 100%;
      }
    }

    p {
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 765px) {
  nav {
    .outer-nav-container {
      .site-title {
        margin-left: 1.5rem;
      }

      .search-container {
        display: initial;
        position: relative;
        margin: 0 1.5rem 0 auto;

        .search-icon {
          position: absolute;
          top: 1.3rem;
          right: 1.2rem;
          stroke: #fff;
          width: 2rem;
          height: 2rem;
        }
      }

      input[type="search"] {
        display: initial;
        background-color: #ffffff1a;
        border: none;
        width: 200px;
        height: 36px;
        padding: 2rem 1.5rem;
        color: #fff;
      }
    }
  }

  .landing {
    input[type="search"] {
      display: none;
    }

    svg {
      display: none;
    }
  }

  main {
    .about-section {
      .header-container {
        width: 95%;
        margin: auto;
      }

      .about-container {
        width: 90%;
        margin: auto;
      }
    }
  }

  footer {
    nav {
      > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
          min-height: 450px;
        }

        > li {
          max-width: 300px;
          border: none;
          margin: 0 0.3rem 10rem 0.3rem;
          height: 225px;
        }

        li > ul {
          list-style: none;
          justify-content: flex-start;
          overflow: visible;

          > li {
            position: relative;
          }

          .flex-container {
            flex-direction: column;

            .img-container {
              width: 100%;
              margin-bottom: 2rem;
            }

            .title {
              font-size: 1.6rem;
            }
          }

          .align-self {
            position: absolute;
            bottom: 0;
          }
        }

        svg:first-of-type {
          display: none;
        }

        .contact .contact-group {
          padding: 0;
        }

        .services li,
        .company li {
          padding: 0;
        }
      }
    }
  }
}
