@mixin boxSize($width, $height) {
  width: #{$width};
  height: #{$height};
}

@mixin position($display, $top: 0, $left: 0) {
  position: #{$display};
  top: #{$top};
  left: #{$left};
}

@mixin svgFillStroke($fill, $stroke) {
  fill: #{$fill};
  stroke: #{$stroke};
}

@mixin paddingMargin($padding: 0 0 0 0, $margin: 0 0 0 0) {
  padding: #{$padding};
  margin: #{$margin};
}

@mixin flex($justify: flex-start, $align: stretch, $dir: row, $wrap: nowrap) {
  display: flex;
  flex-wrap: #{$wrap};
  flex-direction: #{$dir};
  justify-content: #{$justify};
  align-items: #{$align};
}

%white {
  color: #fff;
}

%textCenter {
  text-align: center;
}

%uppercase {
  text-transform: uppercase;
}

%bgBlack {
  background-color: #000;
}

* {
  @include paddingMargin(0, 0);
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Khula", sans-serif;
}

svg {
  @include svgFillStroke(#fff, #fff);
}

.svg-vault,
svg {
  @include boxSize(0, 0);
}

.banner {
  @include boxSize(100vw, 3.2rem);
  @include position(absolute);
  @include paddingMargin(0.5rem);
  @extend %textCenter;

  @extend %bgBlack;
  overflow: hidden;

  > div {
    animation: banner 10s infinite;
  }

  a {
    @extend %white;
  }
}

header {
  @include position(fixed);
  width: 100%;
  z-index: 1;
}

nav {
  z-index: 1;
  @extend %white;

  .outer-nav-container {
    @include paddingMargin(0, 3rem 2rem 0 2rem);
    @include flex(space-between, center);

    height: 5.5rem;

    .nav-toggle {
      height: 1.5rem;
      width: 2rem;
    }

    .site-title {
      text-transform: uppercase;
      @include paddingMargin(1rem 0 0 0);
    }

    .shopping-bag {
      height: 5.5rem;
      width: 2rem;
    }

    .search-container {
      display: none;
    }
  }

  .main-nav {
    @include boxSize(80vw, 100vh);
    @include position(absolute, 0, -80vw);
    @extend %bgBlack;
    transition: left 0.5s ease-in-out;
    z-index: 1;
  }

  .show-nav {
    left: 0;
  }

  .nav-header {
    @include flex(space-between, center);
    height: 8.24vh;

    .close {
      @include position(relative);
      @include paddingMargin(0 0.9rem 0.9rem 1rem, 1rem 0 1rem 1rem);
    }

    .line {
      @include boxSize(1.9rem, 0.3rem);
      @include position(absolute);
      border-radius: 25rem;
      background-color: white;
    }

    .line:first-of-type {
      transform: rotate(45deg);
    }

    .line:last-of-type {
      transform: rotate(-45deg);
    }
  }

  .nav-container {
    @include position(relative);
    @include flex();

    input {
      display: none;
    }

    label {
      transition: width 0.5s ease-in-out;
      @include position(relative);
      height: 10.8vh;
      overflow: hidden;
      background-position: center;
    }

    label:first-of-type {
      background-image: url("./imgs/Nav-Menswear-800x200.jpg");
    }

    label:last-of-type {
      background-image: url("./imgs/Nav-Womenswear-800x200.jpg");
    }

    label > .label-font {
      /*Couldn't @include position due to requiring the bottom property*/
      position: absolute;
      bottom: 0;
      left: 1vw;
    }

    .womens-nav-img,
    .mens-nav-img {
      @include boxSize(30rem, 100%);
      transition: margin-left 0.5s ease-in-out;
    }

    .womens-nav-img {
      margin-left: -10rem;
    }
    .mens-nav-img {
      margin-left: -5rem;
    }

    input:checked + label {
      width: 66.66%;
    }

    input:not(:checked) + label {
      width: 33.33%;
    }

    .womens-nav:checked + label > img {
      margin-left: -5rem;
    }

    .mens-nav:not(:checked) + label > img {
      margin-left: -10rem;
    }

    input:checked + label > .label-font {
      font-weight: 800;
    }

    .nav-body {
      @include boxSize(100%, calc(100vh - (10.8vh + 8.24vh)));
      @include position(absolute, 11vh, 0);
      @include paddingMargin(0 1.5rem);
      overflow-y: scroll;
      overflow-x: hidden;
      text-transform: uppercase;

      a {
        @extend %white;

        text-decoration: none;
        display: block; /*display block to force it to be clickable across how row.*/
        width: 100%;
      }

      ul {
        list-style: none;
      }

      svg:not(.home) {
        @include boxSize(1.8rem, 1rem);
        position: absolute;
        top: 2.3rem;
        right: 0;
      }

      svg {
        @include boxSize(1.6rem, 1.6rem);
      }

      div > ul > li {
        @include position(relative);
        @include paddingMargin(1rem 0);
        border-bottom: 0.1rem solid rgba($color: #fff, $alpha: 0.2);
      }

      li > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }

      li:focus-within > ul {
        max-height: 80rem;
        overflow: visible;
      }

      li:focus-within > svg {
        transition: transform 0.5s ease-in-out;
        transform: rotate(180deg);
      }
    }

    .womens-nav-body,
    .mens-nav-body {
      position: absolute;
      top: 0;
      width: 90%;
      transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    .womens-nav-body {
      right: -90%;
    }

    .mens-nav-body {
      left: -90%;
    }

    .womens-nav:checked ~ .nav-body > .womens-nav-body {
      top: 0;
      right: 5%;
    }

    .mens-nav:checked ~ .nav-body > .mens-nav-body {
      top: 0;
      left: 5%;
    }

    .womens-nav:checked ~ .nav-body > .womens-nav-body > ul {
      display: block;
    }

    .womens-nav:checked ~ .nav-body > .mens-nav-body > ul {
      overflow: hidden;
    }

    .womens-nav:not(:checked) ~ .nav-body > .womens-nav-body > ul {
      overflow: hidden;
    }
  }

  .nav-header-right {
    // $justify: flex-start, $align: stretch, $dir: row, $wrap: nowrap
    @include flex(center);
    gap: 1rem;
    flex-grow: 1;
    max-width: 15rem;

    > svg {
      @include boxSize(2rem, 2rem);
    }
  }
}

nav.scroll {
  @extend %bgBlack;
}

picture img {
  @include boxSize(100%, auto);
}

main {
  .landing {
    @include position(relative);
    @include paddingMargin(8rem 0 0 0);

    background-image: url("https://images.hugoboss.com/is/image/hugobossdm/2022-05-12_Headteaser10?%24large%24&fmt=png-alpha&align=0,-1&fit=crop,1&ts=1656059297396&wid=1980&hei=669");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 46rem;

    > picture {
      @include position(absolute);
      z-index: -1;
    }

    .container {
      @include paddingMargin(0, 1.5rem auto 0 auto);
      width: 90%;
      @include flex(flex-start, center, column);
    }

    .search-container {
      width: 100%;
      @include position(relative);

      .search-icon {
        @include boxSize(2rem, 2rem);

        position: absolute;
        top: 1.3rem;
        right: 1.2rem;
        stroke: #fff;
      }
    }

    input[type="search"] {
      @include boxSize(100%, 4.8rem);
      @include paddingMargin(2rem 1.5rem);

      @extend %white;

      background-color: #ffffff1a;
      opacity: 0.9;
      border: 0.1rem solid white;
    }

    .sale-promo {
      @extend %white;
      @extend %textCenter;

      margin-top: 0.6rem;

      h1 {
        @include paddingMargin(0, 2rem 0 0 0);

        text-transform: uppercase;
        font-size: 4.3rem;
        line-height: 2rem;
        font-weight: 800;
      }

      p {
        @include paddingMargin(0, 0.5rem 0 2rem 0);
        font-weight: 800;
      }
    }
  }

  .sale-buttons {
    @include flex(flex-start, center, column);
    width: 100%;

    > button {
      margin-top: 1rem;
    }

    button {
      @include paddingMargin(0.8rem 2rem, 2rem 0 0 0);

      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
      width: fit-content;
      text-transform: uppercase;
      border: none;
    }
  }

  .welcome {
    @include position(relative, 2rem, 0);
    @extend %white;
    @include flex(center, center, column);
    height: 60rem;

    > picture {
      @include boxSize(100%, 100%);
      @include position(absolute);

      z-index: -1;

      source,
      img {
        @include boxSize(100%, 100%);
      }
    }

    > div {
      margin-top: 1rem;
      @extend %textCenter;
    }

    h2 {
      font-size: 4.2rem;
      font-weight: 800;
      text-transform: uppercase;
    }

    .welcome-buttons {
      @include flex(space-between, stretch, row);
      width: 100%;
      margin-top: 1.5rem;
    }

    .welcome-buttons button {
      @include paddingMargin(1rem 0.7rem 0.75rem 0.75rem, 0 1.5rem);
      font-size: 1.6rem;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
    }
  }

  .about-section {
    @include position(relative, 2rem);
    background-color: #eee;

    .header-container {
      @include paddingMargin(2rem);
      text-transform: uppercase;
      line-height: 3rem;

      h2 {
        font-size: 3rem;
        font-weight: 800;
      }
    }

    .about-container {
      @include paddingMargin(2.5rem 5rem, 3rem 0 0 0);
      width: 100%;
      font-weight: 100;
      background-color: #fff;

      a {
        color: #000;
        font-weight: 700;
      }
    }
  }

  .offer-container {
    @include paddingMargin(2rem 0 0 0, 2rem 0 0 0);
    @extend %textCenter;

    background-color: #eee;

    img {
      width: 100%;
    }

    div {
      background-color: #fff;
    }

    h3 {
      font-weight: 800;
      font-size: 2.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    button {
      @include paddingMargin(1.5rem 0, 0 0 2rem 0);
      @extend %bgBlack;
      width: 80%;
      border: none;
      color: #eee;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #f6f6f6;

  input {
    display: none;
  }

  ul li {
    color: #000;
  }

  nav {
    @include paddingMargin(2rem 1rem);

    transition: background-color 0.5s ease-in-out;

    > ul > li {
      @include paddingMargin(1rem 0);

      border-bottom: 0.1rem solid black;
      list-style: none;
      font-weight: 600;
      text-transform: uppercase;

      > ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        li > div {
          @include paddingMargin(3rem 3rem 1rem 3rem);

          .title {
            color: #666;
            font-weight: 100;
            margin-bottom: 5rem;
          }

          p svg {
            @include boxSize(1.6rem, 1.6rem);
            @include svgFillStroke(#000, none);
          }
        }
      }

      label {
        display: inline-block;
        width: 100%;
        @include position(relative);

        > svg {
          @include boxSize(1.4rem, 1.4rem);

          @include svgFillStroke(#000, #000);
          stroke-width: 0.1rem;

          position: absolute;
          top: 0;
          right: 0;

          transform: rotate(90deg);
          transition: transform 0.5s ease-in-out;
        }
      }

      input:checked ~ ul {
        max-height: 50rem;
      }

      input:checked + label > svg {
        transform: rotate(270deg);
      }
    }

    .contact {
      .contact-group {
        @include paddingMargin(1rem 3rem);

        font-weight: 100;
      }
    }

    .services {
      li {
        @include paddingMargin(1rem 3rem);

        font-weight: 100;

        svg {
          @include boxSize(1.4rem, 1.4rem);
          @include svgFillStroke(#000, #000);
          stroke-width: 0.1rem;
        }
      }
    }

    .company {
      li {
        @include paddingMargin(1rem 3rem);

        font-weight: 100;

        svg {
          @include boxSize(1.4rem, 1.4rem);
          @include svgFillStroke(#000, #000);
          stroke-width: 0.1rem;
        }
      }
    }
  }

  .socials-container {
    @extend %textCenter;

    .social-icons {
      @include flex(center, stretch, row);
    }

    .icon {
      @include boxSize(2.4rem, 2.4rem);
      @include flex(center, center);
      background-color: black;
      margin-right: 1rem;
    }

    svg {
      @include boxSize(1.6rem, 1.6rem);
      stroke: #fff;
    }
  }

  .app-icons {
    @include flex(center, stretch, row);
  }

  .apple-app,
  .google-app {
    @include boxSize(12rem, 4rem);
    @include paddingMargin(0, 1rem 1.5rem 0 0);
    background-image: url("./imgs/appstore-icons.png");
    background-size: cover;
  }

  .apple-app {
    background-position: 0 4rem;
  }

  .google-app {
    background-position: 0 -0.5rem;
  }

  .location-nav {
    @extend %textCenter;

    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  .smallprint-container {
    background-color: #f0f0f0;
    @extend %textCenter;

    font-weight: 700;
    padding-top: 2rem;
  }

  .small-print {
    background-color: #f0f0f0;
    @extend %textCenter;
    @include paddingMargin(3rem 0);
  }
}

.location-container {
  display: none;
}

@keyframes banner {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.7rem);
  }

  90% {
    transform: translateY(-2.7rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: "460px") {
  main {
    .sale-buttons {
      flex-direction: row;
      justify-content: center;

      button {
        @include paddingMargin(1.8rem 2rem, 0 1.5rem);
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 512px) {
  .flex-container {
    @include flex(space-between, stretch, row);
    @include paddingMargin(0);
    font-size: 1.3rem;

    .img-container {
      margin-right: 1.5rem;
      min-width: 50%;
      width: 50%;

      picture img,
      picture source {
        width: 100%;
      }
    }

    p {
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 765px) {
  nav {
    .main-nav {
      width: 40vw;
    }

    .outer-nav-container {
      .site-title {
        margin-left: 1.5rem;
      }

      .search-container {
        @include position(relative);
        @include paddingMargin(0, 0 1.5rem 0 auto);
        display: initial;

        .search-icon {
          position: absolute;
          top: 1.3rem;
          right: 1.2rem;
          stroke: #fff;
          width: 2rem;
          height: 2rem;
        }
      }

      input[type="search"] {
        @include paddingMargin(2rem 1.5rem);

        display: initial;
        background-color: #ffffff1a;
        border: none;
        width: 20rem;
        height: 3.6rem;
        color: #fff;
      }
    }
  }

  .landing {
    input[type="search"] {
      display: none;
    }

    svg {
      display: none;
    }
  }

  main {
    .about-section {
      .header-container {
        width: 95%;
        @include paddingMargin(2rem 2.6rem, auto);
      }

      .about-container {
        width: 90%;
        @include paddingMargin(3.5rem, auto);
      }
    }
  }

  footer {
    nav {
      > ul {
        @include flex(space-around, stretch, row, wrap);

        .card {
          min-height: 45rem;
        }

        > li {
          @include paddingMargin(0, 0 0.3rem 10rem 0.3rem);
          max-width: 30rem;
          border: none;
          height: 22.5rem;
        }

        li > ul {
          list-style: none;
          justify-content: flex-start;
          overflow: visible;

          > li {
            @include position(relative);
          }

          .flex-container {
            flex-direction: column;

            .img-container {
              width: 100%;
              margin-bottom: 2rem;
            }

            .title {
              font-size: 1.6rem;
            }
          }

          .align-self {
            position: absolute;
            bottom: 0;
          }
        }

        svg:first-of-type {
          display: none;
        }

        .contact .contact-group {
          @include paddingMargin(0);
        }

        .services li,
        .company li {
          @include paddingMargin(0);
        }
      }
    }

    .large-flex {
      @include paddingMargin(0, auto);
      @include flex(space-between, stretch, row);
      width: 95%;
    }

    .location-nav {
      @include flex(center, stretch, row);

      p {
        font-size: 1.2rem;
        margin-right: 1rem;
      }
    }

    .smallprint-container {
      @include flex(center, stretch, row, wrap);
      margin-top: 2rem;

      p:not(:last-of-type):after {
        @include paddingMargin(0 1rem);
        content: "|";
      }
    }
  }
}

// @media screen and (min-width: "1280px") {
//   .outer-nav-container {
//     > svg:first-of-type {
//       display: none;
//     }
//   }

//   nav {
//     .nav-header {
//       display: none;
//     }

//     .main-nav {
//       left: 0;
//       top: 0;
//     }

//     .nav-container label:first-of-type,
//     .nav-container label:last-of-type {
//       background-image: none;
//     }
//   }
// }
