* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Khula", sans-serif;
}

svg {
  fill: #fff;
  stroke: #fff;
}

.svg-vault,
svg {
  width: 0;
  height: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100vw;
  background-color: #000;
  height: 3.2rem;
  padding: 5px;
  overflow: hidden;
}

.banner > div {
  -webkit-animation: banner 10s infinite;
          animation: banner 10s infinite;
}

.banner a {
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  z-index: 1;
  color: #fff;
}

nav .outer-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.2rem 2rem 0 2rem;
  height: 5.5rem;
}

nav .outer-nav-container .nav-toggle {
  height: 1.5rem;
  width: 2rem;
}

nav .outer-nav-container .site-title {
  text-transform: uppercase;
  padding-top: 1rem;
}

nav .outer-nav-container .shopping-bag {
  height: 5.5rem;
  width: 2rem;
}

nav .outer-nav-container .search-container {
  display: none;
}

nav .main-nav {
  position: absolute;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100vh;
  background-color: #000;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

nav .show-nav {
  left: 0;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.24vh;
}

nav .nav-header .close {
  position: relative;
  padding: 0 0.9rem 0.9rem 1rem;
  margin: 1rem 0 1rem 1rem;
}

nav .nav-header .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.9rem;
  height: 0.3rem;
  border-radius: 25rem;
  background-color: white;
}

nav .nav-header .line:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .nav-header .line:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-container input {
  display: none;
}

nav .nav-container label {
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  height: 10.8vh;
  overflow: hidden;
  /* background-size: contain; */
  background-position: center;
}

nav .nav-container label:first-of-type {
  background-image: url("./imgs/Nav-Menswear-800x200.jpg");
}

nav .nav-container label:last-of-type {
  background-image: url("./imgs/Nav-Womenswear-800x200.jpg");
}

nav .nav-container label > .label-font {
  position: absolute;
  bottom: 0;
  left: 1vw;
}

nav .nav-container .womens-nav-img,
nav .nav-container .mens-nav-img {
  width: 300px;
  height: 100%;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

nav .nav-container .womens-nav-img {
  margin-left: -10rem;
}

nav .nav-container .mens-nav-img {
  margin-left: -5rem;
}

nav .nav-container input:checked + label {
  width: 66.66%;
}

nav .nav-container input:not(:checked) + label {
  width: 33.33%;
}

nav .nav-container .womens-nav:checked + label > img {
  margin-left: -50px;
}

nav .nav-container .mens-nav:not(:checked) + label > img {
  margin-left: -10rem;
}

nav .nav-container input:checked + label > .label-font {
  font-weight: 800;
}

nav .nav-container .nav-body {
  /*Top set to 12vh as thats the height of our radio images  */
  position: absolute;
  top: 11vh;
  left: 0;
  width: 100%;
  height: calc(100vh - (10.8vh + 8.24vh));
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

nav .nav-container .nav-body a {
  text-decoration: none;
  color: #fff;
  display: block;
  /*display block to force it to be clickable across how row.*/
  width: 100%;
}

nav .nav-container .nav-body ul {
  list-style: none;
}

nav .nav-container .nav-body svg:not(.home) {
  position: absolute;
  top: 2.3rem;
  right: 0;
  width: 18px;
  height: 10px;
}

nav .nav-container .nav-body svg {
  width: 16px;
  height: 16px;
}

nav .nav-container .nav-body div > ul > li {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 0;
}

nav .nav-container .nav-body li > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

nav .nav-container .nav-body li:focus-within > ul {
  max-height: 800px;
  overflow: visible;
}

nav .nav-container .nav-body li:focus-within > svg {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-container .womens-nav-body,
nav .nav-container .mens-nav-body {
  position: absolute;
  top: 0;
  width: 90%;
  -webkit-transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
}

nav .nav-container .womens-nav-body {
  right: -90%;
}

nav .nav-container .mens-nav-body {
  left: -90%;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .womens-nav-body {
  top: 0;
  right: 5%;
}

nav .nav-container .mens-nav:checked ~ .nav-body > .mens-nav-body {
  top: 0;
  left: 5%;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .womens-nav-body > ul {
  display: block;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .mens-nav-body > ul {
  overflow: hidden;
}

nav .nav-container .womens-nav:not(:checked) ~ .nav-body > .womens-nav-body > ul {
  overflow: hidden;
}

nav .nav-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 15rem;
}

nav .nav-header-right > svg {
  width: 2rem;
  height: 2rem;
}

nav.scroll {
  background-color: #000;
}

picture img {
  width: 100%;
  height: auto;
}

main .landing {
  background-image: url("https://images.hugoboss.com/is/image/hugobossdm/2022-05-12_Headteaser10?%24large%24&amp;fmt=png-alpha&amp;align=0,-1&amp;fit=crop,1&amp;ts=1656059297397&amp;wid=2048&amp;hei=693");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 8rem;
  height: 46rem;
}

main .landing > picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main .landing .container {
  margin: 1.5rem auto 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .landing .search-container {
  width: 100%;
  position: relative;
}

main .landing .search-container .search-icon {
  position: absolute;
  top: 1.3rem;
  right: 1.2rem;
  stroke: #fff;
  width: 2rem;
  height: 2rem;
}

main .landing input[type="search"] {
  background-color: #ffffff1a;
  opacity: 0.9;
  border: 1px solid white;
  width: 100%;
  height: 4.8rem;
  padding: 2rem 1.5rem;
  color: #fff;
}

main .landing .sale-promo {
  text-align: center;
  color: #fff;
  margin-top: 0.6rem;
}

main .landing .sale-promo h1 {
  padding: 0;
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  font-size: 4.3rem;
  line-height: 2rem;
  font-weight: 800;
}

main .landing .sale-promo p {
  font-weight: 800;
  margin: 0.5rem 0 2rem 0;
}

main .sale-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .sale-buttons > button {
  margin-top: 1rem;
}

main .sale-buttons button {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding: 0.8rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border: none;
}

main .welcome {
  position: relative;
  top: 2rem;
  left: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
}

main .welcome > picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .welcome > picture source,
main .welcome > picture img {
  width: 100%;
  height: 100%;
}

main .welcome > div {
  margin-top: 1rem;
  text-align: center;
}

main .welcome h2 {
  font-size: 4.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

main .welcome .welcome-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

main .welcome .welcome-buttons button {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 0.7rem 0.75rem 0.75rem;
  margin: 0 1.5rem;
  text-transform: uppercase;
  border: none;
}

main .about-section {
  position: relative;
  top: 2rem;
  left: 0;
  background-color: #eee;
}

main .about-section .header-container {
  padding: 2rem;
  text-transform: uppercase;
  line-height: 3rem;
}

main .about-section .header-container h2 {
  font-size: 3rem;
  font-weight: 800;
}

main .about-section .about-container {
  width: 100%;
  margin-top: 3rem;
  font-weight: 100;
  background-color: #fff;
  padding: 2.5rem 5rem;
}

main .about-section .about-container a {
  color: #000;
  font-weight: 700;
}

main .offer-container {
  background-color: #eee;
  padding-top: 2rem;
  text-align: center;
  margin-top: 2rem;
}

main .offer-container img {
  width: 100%;
}

main .offer-container div {
  background-color: #fff;
}

main .offer-container h3 {
  font-weight: 800;
  font-size: 2.5rem;
}

main .offer-container p {
  margin-bottom: 2rem;
}

main .offer-container button {
  background-color: #000;
  padding: 1.5rem 0;
  width: 80%;
  border: none;
  color: #eee;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

footer {
  background-color: #f6f6f6;
}

footer input {
  display: none;
}

footer ul li {
  color: #000;
}

footer nav {
  padding: 2rem 1rem;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

footer nav > ul > li {
  padding: 1rem 0;
  border-bottom: 1px solid black;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
}

footer nav > ul > li > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

footer nav > ul > li > ul li > div {
  padding: 3rem 3rem 1rem 3rem;
}

footer nav > ul > li > ul li > div .title {
  color: #666;
  font-weight: 100;
  margin-bottom: 5rem;
}

footer nav > ul > li > ul li > div p svg {
  width: 16px;
  height: 16px;
  fill: #000;
}

footer nav > ul > li label {
  display: inline-block;
  width: 100%;
  position: relative;
}

footer nav > ul > li label > svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  stroke: #000;
  fill: #000;
  stroke-width: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

footer nav > ul > li input:checked ~ ul {
  max-height: 500px;
}

footer nav > ul > li input:checked + label > svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

footer nav .contact .contact-group {
  padding: 1rem 3rem;
  font-weight: 100;
}

footer nav .services li {
  padding: 1rem 3rem;
  font-weight: 100;
}

footer nav .services li svg {
  width: 14px;
  height: 14px;
  stroke: #000;
  fill: #000;
  stroke-width: 1px;
}

footer nav .company li {
  padding: 1rem 3rem;
  font-weight: 100;
}

footer nav .company li svg {
  width: 14px;
  height: 14px;
  stroke: #000;
  fill: #000;
  stroke-width: 1px;
}

footer .socials-container {
  text-align: center;
}

footer .socials-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials-container .icon {
  background-color: black;
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socials-container svg {
  width: 16px;
  height: 16px;
  stroke: #fff;
}

footer .app-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .apple-app,
footer .google-app {
  width: 12rem;
  height: 4rem;
  background-image: url("./imgs/appstore-icons.png");
  background-size: cover;
  margin: 1rem 1.5rem 0 0;
}

footer .apple-app {
  background-position: 0 40px;
}

footer .google-app {
  background-position: 0 -5px;
}

footer .location-nav {
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

footer .smallprint-container {
  background-color: #f0f0f0;
  text-align: center;
  font-weight: 700;
  padding-top: 2rem;
}

footer .small-print {
  background-color: #f0f0f0;
  text-align: center;
  padding: 3rem 0;
}

.location-container {
  display: none;
}

@-webkit-keyframes banner {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-27px);
            transform: translateY(-27px);
  }
  90% {
    -webkit-transform: translateY(-27px);
            transform: translateY(-27px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes banner {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-27px);
            transform: translateY(-27px);
  }
  90% {
    -webkit-transform: translateY(-27px);
            transform: translateY(-27px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (min-width: 460px) {
  main .sale-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .sale-buttons button {
    margin: 0 1.5rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 512px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    font-size: 1.3rem;
  }
  .flex-container .img-container {
    margin-right: 1.5rem;
    min-width: 50%;
    width: 50%;
  }
  .flex-container .img-container picture img,
  .flex-container .img-container picture source {
    width: 100%;
  }
  .flex-container p {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 765px) {
  nav .outer-nav-container .site-title {
    margin-left: 1.5rem;
  }
  nav .outer-nav-container .search-container {
    display: initial;
    position: relative;
    margin: 0 1.5rem 0 auto;
  }
  nav .outer-nav-container .search-container .search-icon {
    position: absolute;
    top: 1.3rem;
    right: 1.2rem;
    stroke: #fff;
    width: 2rem;
    height: 2rem;
  }
  nav .outer-nav-container input[type="search"] {
    display: initial;
    background-color: #ffffff1a;
    border: none;
    width: 200px;
    height: 36px;
    padding: 2rem 1.5rem;
    color: #fff;
  }
  .landing input[type="search"] {
    display: none;
  }
  .landing svg {
    display: none;
  }
  main .about-section .header-container {
    width: 95%;
    margin: auto;
  }
  main .about-section .about-container {
    width: 90%;
    margin: auto;
  }
  footer nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer nav > ul .card {
    min-height: 450px;
  }
  footer nav > ul > li {
    max-width: 300px;
    border: none;
    margin: 0 0.3rem 10rem 0.3rem;
    height: 225px;
  }
  footer nav > ul li > ul {
    list-style: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: visible;
  }
  footer nav > ul li > ul > li {
    position: relative;
  }
  footer nav > ul li > ul .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav > ul li > ul .flex-container .img-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer nav > ul li > ul .flex-container .title {
    font-size: 1.6rem;
  }
  footer nav > ul li > ul .align-self {
    position: absolute;
    bottom: 0;
  }
  footer nav > ul svg:first-of-type {
    display: none;
  }
  footer nav > ul .contact .contact-group {
    padding: 0;
  }
  footer nav > ul .services li,
  footer nav > ul .company li {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */