.banner a, nav, nav .nav-container .nav-body a, main .landing input[type="search"], main .landing .sale-promo, main .welcome {
  color: #fff;
}

.banner, main .landing .sale-promo, main .welcome > div, main .offer-container, footer .socials-container, footer .location-nav, footer .smallprint-container, footer .small-print {
  text-align: center;
}

.banner, nav .main-nav, nav.scroll, main .offer-container button {
  background-color: #000;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Khula", sans-serif;
}

svg {
  fill: #fff;
  stroke: #fff;
}

.svg-vault,
svg {
  width: 0;
  height: 0;
}

.banner {
  width: 100vw;
  height: 3.2rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  margin: 0 0 0 0;
  overflow: hidden;
}

.banner > div {
  -webkit-animation: banner 10s infinite;
          animation: banner 10s infinite;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav {
  z-index: 1;
}

nav .outer-nav-container {
  padding: 0;
  margin: 3rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
}

nav .outer-nav-container .nav-toggle {
  height: 1.5rem;
  width: 2rem;
}

nav .outer-nav-container .site-title {
  text-transform: uppercase;
  padding: 1rem 0 0 0;
  margin: 0 0 0 0;
}

nav .outer-nav-container .shopping-bag {
  height: 5.5rem;
  width: 2rem;
}

nav .outer-nav-container .search-container {
  display: none;
}

nav .main-nav {
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -80vw;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

nav .show-nav {
  left: 0;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.24vh;
}

nav .nav-header .close {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0.9rem 0.9rem 1rem;
  margin: 1rem 0 1rem 1rem;
}

nav .nav-header .line {
  width: 1.9rem;
  height: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25rem;
  background-color: white;
}

nav .nav-header .line:first-of-type {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .nav-header .line:last-of-type {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .nav-container {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

nav .nav-container input {
  display: none;
}

nav .nav-container label {
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  height: 10.8vh;
  overflow: hidden;
  background-position: center;
}

nav .nav-container label:first-of-type {
  background-image: url("./imgs/Nav-Menswear-800x200.jpg");
}

nav .nav-container label:last-of-type {
  background-image: url("./imgs/Nav-Womenswear-800x200.jpg");
}

nav .nav-container label > .label-font {
  /*Couldn't @include position due to requiring the bottom property*/
  position: absolute;
  bottom: 0;
  left: 1vw;
}

nav .nav-container .womens-nav-img,
nav .nav-container .mens-nav-img {
  width: 30rem;
  height: 100%;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

nav .nav-container .womens-nav-img {
  margin-left: -10rem;
}

nav .nav-container .mens-nav-img {
  margin-left: -5rem;
}

nav .nav-container input:checked + label {
  width: 66.66%;
}

nav .nav-container input:not(:checked) + label {
  width: 33.33%;
}

nav .nav-container .womens-nav:checked + label > img {
  margin-left: -5rem;
}

nav .nav-container .mens-nav:not(:checked) + label > img {
  margin-left: -10rem;
}

nav .nav-container input:checked + label > .label-font {
  font-weight: 800;
}

nav .nav-container .nav-body {
  width: 100%;
  height: calc(100vh - (10.8vh + 8.24vh));
  position: absolute;
  top: 11vh;
  left: 0;
  padding: 0 1.5rem;
  margin: 0 0 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  text-transform: uppercase;
}

nav .nav-container .nav-body a {
  text-decoration: none;
  display: block;
  /*display block to force it to be clickable across how row.*/
  width: 100%;
}

nav .nav-container .nav-body ul {
  list-style: none;
}

nav .nav-container .nav-body svg:not(.home) {
  width: 1.8rem;
  height: 1rem;
  position: absolute;
  top: 2.3rem;
  right: 0;
}

nav .nav-container .nav-body svg {
  width: 1.6rem;
  height: 1.6rem;
}

nav .nav-container .nav-body div > ul > li {
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem 0;
  margin: 0 0 0 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

nav .nav-container .nav-body li > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

nav .nav-container .nav-body li:focus-within > ul {
  max-height: 80rem;
  overflow: visible;
}

nav .nav-container .nav-body li:focus-within > svg {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-container .womens-nav-body,
nav .nav-container .mens-nav-body {
  position: absolute;
  top: 0;
  width: 90%;
  -webkit-transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
  transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
}

nav .nav-container .womens-nav-body {
  right: -90%;
}

nav .nav-container .mens-nav-body {
  left: -90%;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .womens-nav-body {
  top: 0;
  right: 5%;
}

nav .nav-container .mens-nav:checked ~ .nav-body > .mens-nav-body {
  top: 0;
  left: 5%;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .womens-nav-body > ul {
  display: block;
}

nav .nav-container .womens-nav:checked ~ .nav-body > .mens-nav-body > ul {
  overflow: hidden;
}

nav .nav-container .womens-nav:not(:checked) ~ .nav-body > .womens-nav-body > ul {
  overflow: hidden;
}

nav .nav-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 15rem;
}

nav .nav-header-right > svg {
  width: 2rem;
  height: 2rem;
}

picture img {
  width: 100%;
  height: auto;
}

main .landing {
  position: relative;
  top: 0;
  left: 0;
  padding: 8rem 0 0 0;
  margin: 0 0 0 0;
  background-image: url("https://images.hugoboss.com/is/image/hugobossdm/2022-05-12_Headteaser10?%24large%24&fmt=png-alpha&align=0,-1&fit=crop,1&ts=1656059297396&wid=1980&hei=669");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 46rem;
}

main .landing > picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main .landing .container {
  padding: 0;
  margin: 1.5rem auto 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .landing .search-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

main .landing .search-container .search-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 1.2rem;
  stroke: #fff;
}

main .landing input[type="search"] {
  width: 100%;
  height: 4.8rem;
  padding: 2rem 1.5rem;
  margin: 0 0 0 0;
  background-color: #ffffff1a;
  opacity: 0.9;
  border: 0.1rem solid white;
}

main .landing .sale-promo {
  margin-top: 0.6rem;
}

main .landing .sale-promo h1 {
  padding: 0;
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  font-size: 4.3rem;
  line-height: 2rem;
  font-weight: 800;
}

main .landing .sale-promo p {
  padding: 0;
  margin: 0.5rem 0 2rem 0;
  font-weight: 800;
}

main .sale-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .sale-buttons > button {
  margin-top: 1rem;
}

main .sale-buttons button {
  padding: 0.8rem 2rem;
  margin: 2rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border: none;
}

main .welcome {
  position: relative;
  top: 2rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
}

main .welcome > picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main .welcome > picture source,
main .welcome > picture img {
  width: 100%;
  height: 100%;
}

main .welcome > div {
  margin-top: 1rem;
}

main .welcome h2 {
  font-size: 4.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

main .welcome .welcome-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-top: 1.5rem;
}

main .welcome .welcome-buttons button {
  padding: 1rem 0.7rem 0.75rem 0.75rem;
  margin: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

main .about-section {
  position: relative;
  top: 2rem;
  left: 0;
  background-color: #eee;
}

main .about-section .header-container {
  padding: 2rem;
  margin: 0 0 0 0;
  text-transform: uppercase;
  line-height: 3rem;
}

main .about-section .header-container h2 {
  font-size: 3rem;
  font-weight: 800;
}

main .about-section .about-container {
  padding: 2.5rem 5rem;
  margin: 3rem 0 0 0;
  width: 100%;
  font-weight: 100;
  background-color: #fff;
}

main .about-section .about-container a {
  color: #000;
  font-weight: 700;
}

main .offer-container {
  padding: 2rem 0 0 0;
  margin: 2rem 0 0 0;
  background-color: #eee;
}

main .offer-container img {
  width: 100%;
}

main .offer-container div {
  background-color: #fff;
}

main .offer-container h3 {
  font-weight: 800;
  font-size: 2.5rem;
}

main .offer-container p {
  margin-bottom: 2rem;
}

main .offer-container button {
  padding: 1.5rem 0;
  margin: 0 0 2rem 0;
  width: 80%;
  border: none;
  color: #eee;
  text-transform: uppercase;
}

footer {
  background-color: #f6f6f6;
}

footer input {
  display: none;
}

footer ul li {
  color: #000;
}

footer nav {
  padding: 2rem 1rem;
  margin: 0 0 0 0;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

footer nav > ul > li {
  padding: 1rem 0;
  margin: 0 0 0 0;
  border-bottom: 0.1rem solid black;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
}

footer nav > ul > li > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

footer nav > ul > li > ul li > div {
  padding: 3rem 3rem 1rem 3rem;
  margin: 0 0 0 0;
}

footer nav > ul > li > ul li > div .title {
  color: #666;
  font-weight: 100;
  margin-bottom: 5rem;
}

footer nav > ul > li > ul li > div p svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #000;
  stroke: none;
}

footer nav > ul > li label {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

footer nav > ul > li label > svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: #000;
  stroke: #000;
  stroke-width: 0.1rem;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

footer nav > ul > li input:checked ~ ul {
  max-height: 50rem;
}

footer nav > ul > li input:checked + label > svg {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

footer nav .contact .contact-group {
  padding: 1rem 3rem;
  margin: 0 0 0 0;
  font-weight: 100;
}

footer nav .services li {
  padding: 1rem 3rem;
  margin: 0 0 0 0;
  font-weight: 100;
}

footer nav .services li svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: #000;
  stroke: #000;
  stroke-width: 0.1rem;
}

footer nav .company li {
  padding: 1rem 3rem;
  margin: 0 0 0 0;
  font-weight: 100;
}

footer nav .company li svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: #000;
  stroke: #000;
  stroke-width: 0.1rem;
}

footer .socials-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer .socials-container .icon {
  width: 2.4rem;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  margin-right: 1rem;
}

footer .socials-container svg {
  width: 1.6rem;
  height: 1.6rem;
  stroke: #fff;
}

footer .app-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer .apple-app,
footer .google-app {
  width: 12rem;
  height: 4rem;
  padding: 0;
  margin: 1rem 1.5rem 0 0;
  background-image: url("./imgs/appstore-icons.png");
  background-size: cover;
}

footer .apple-app {
  background-position: 0 4rem;
}

footer .google-app {
  background-position: 0 -0.5rem;
}

footer .location-nav {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

footer .smallprint-container {
  background-color: #f0f0f0;
  font-weight: 700;
  padding-top: 2rem;
}

footer .small-print {
  background-color: #f0f0f0;
  padding: 3rem 0;
  margin: 0 0 0 0;
}

.location-container {
  display: none;
}

@-webkit-keyframes banner {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2.7rem);
            transform: translateY(-2.7rem);
  }
  90% {
    -webkit-transform: translateY(-2.7rem);
            transform: translateY(-2.7rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes banner {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2.7rem);
            transform: translateY(-2.7rem);
  }
  90% {
    -webkit-transform: translateY(-2.7rem);
            transform: translateY(-2.7rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 460px) {
  main .sale-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .sale-buttons button {
    padding: 1.8rem 2rem;
    margin: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 512px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin: 0 0 0 0;
    font-size: 1.3rem;
  }
  .flex-container .img-container {
    margin-right: 1.5rem;
    min-width: 50%;
    width: 50%;
  }
  .flex-container .img-container picture img,
  .flex-container .img-container picture source {
    width: 100%;
  }
  .flex-container p {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 765px) {
  nav .main-nav {
    width: 40vw;
  }
  nav .outer-nav-container .site-title {
    margin-left: 1.5rem;
  }
  nav .outer-nav-container .search-container {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0 1.5rem 0 auto;
    display: initial;
  }
  nav .outer-nav-container .search-container .search-icon {
    position: absolute;
    top: 1.3rem;
    right: 1.2rem;
    stroke: #fff;
    width: 2rem;
    height: 2rem;
  }
  nav .outer-nav-container input[type="search"] {
    padding: 2rem 1.5rem;
    margin: 0 0 0 0;
    display: initial;
    background-color: #ffffff1a;
    border: none;
    width: 20rem;
    height: 3.6rem;
    color: #fff;
  }
  .landing input[type="search"] {
    display: none;
  }
  .landing svg {
    display: none;
  }
  main .about-section .header-container {
    width: 95%;
    padding: 2rem 2.6rem;
    margin: auto;
  }
  main .about-section .about-container {
    width: 90%;
    padding: 3.5rem;
    margin: auto;
  }
  footer nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  footer nav > ul .card {
    min-height: 45rem;
  }
  footer nav > ul > li {
    padding: 0;
    margin: 0 0.3rem 10rem 0.3rem;
    max-width: 30rem;
    border: none;
    height: 22.5rem;
  }
  footer nav > ul li > ul {
    list-style: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: visible;
  }
  footer nav > ul li > ul > li {
    position: relative;
    top: 0;
    left: 0;
  }
  footer nav > ul li > ul .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav > ul li > ul .flex-container .img-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  footer nav > ul li > ul .flex-container .title {
    font-size: 1.6rem;
  }
  footer nav > ul li > ul .align-self {
    position: absolute;
    bottom: 0;
  }
  footer nav > ul svg:first-of-type {
    display: none;
  }
  footer nav > ul .contact .contact-group {
    padding: 0;
    margin: 0 0 0 0;
  }
  footer nav > ul .services li,
  footer nav > ul .company li {
    padding: 0;
    margin: 0 0 0 0;
  }
  footer .large-flex {
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 95%;
  }
  footer .location-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  footer .location-nav p {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  footer .smallprint-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 2rem;
  }
  footer .smallprint-container p:not(:last-of-type):after {
    padding: 0 1rem;
    margin: 0 0 0 0;
    content: "|";
  }
}

@media screen and (min-width: 1280px) {
  .outer-nav-container > svg:first-of-type {
    display: none;
  }
  nav {
    /*? This will need changing to hide certain elements and move svg to where required.*/
  }
  nav .nav-header {
    display: none;
  }
  nav .main-nav {
    width: 100%;
    height: 12vh;
    overflow: hidden;
    z-index: -1;
    left: 0;
    top: 0;
  }
  nav .nav-body {
    width: 100%;
  }
  nav .nav-container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  nav .nav-container label:first-of-type,
  nav .nav-container label:last-of-type {
    width: 50%;
    background-image: none;
  }
  nav .nav-container label:first-of-type {
    margin-left: auto;
  }
  nav .nav-container label:last-of-type {
    margin-right: auto;
  }
  nav .nav-container input:checked + label,
  nav .nav-container input:not(:checked) + label {
    /*Not sure why !important is required here*/
    -webkit-transition: none !important;
    transition: none !important;
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */